*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: #111;
    text-align: center;
       
}

h1 {
    text-align: center;
    background-color: white;
    color: #111;
    height: 6rem;
    margin-top: 3rem;
    width: 80%;
    border-radius: 2rem;
    line-height: 6rem;
    font-size: 2rem;
    display: inline-block;
}

.choice {
    width: 162px;
    height: 165px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

img {
    height: 150px;
    width: 150px;
    object-fit: cover;  
    border-radius: 50%; 
}

.choices {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5rem;
    gap: 3rem;
}

.choice:hover {
    cursor: pointer;
    background-color: teal; 
}

.score-board {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 4rem;
    gap: 6rem;
    font-size: 2rem;
    color: white;
    border-radius: 50%;
    font-weight: bold;
}

#user-score, 
#comp-score, 
#draws {
    font-size: 3rem;
} 

.msg-container {
    margin-top: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

#msg {
    text-align: center;
    background-color : white;
    color: black;
    font-size: 2rem;
    font-weight: bold;
    display: inline;
    padding: 1rem;
    border-radius: 2rem;
}